<footer class="mt-2">
    <div class="f-info">
        <div class="f-info-socials">
            <a class="social-link" href="https://github.com/mehdikhan55" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="social-link" href="https://www.linkedin.com/in/mehdikhan55" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="">

            <div>Developer: Muhammad Mehdi Ali</div>
            <div>&copy;Wanderpack Private Limited</div>
        </div>
    </div>
</footer>