<%layout("/layouts/boilerplate")%>


<div class="row">
    <div class="col-8 offset-2">
        <br><br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings"  class="needs-validation" novalidate enctype="multipart/form-data">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input required type="text" name="listing[title]" placeholder="Add a Title" class="form-control" />
            <div class="valid-feedback">Title looks good!</div>
            <div class="invalid-feedback">Title required</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea required name="listing[description]" class="form-control"></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" name="listing[image]" class="form-control" required/>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input required type="number" name="listing[price]" placeholder="1400" class="form-control" />
                <div class="invalid-feedback">Price should be valid</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input required type="text" name="listing[country]" placeholder="Pakistan"  class="form-control"/>
                <div class="invalid-feedback">Country name should be valid</div>
            </div>  
        </div>
        
       
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input required type="text" name="listing[location]" placeholder="Islamabad" class="form-control" />
            <div class="invalid-feedback">Location should be valid</div>
        </div>

        <h5>Contact Info:</h5>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Phone No.</label>
                <input required type="tel" name="listing[contactPhoneNo]" placeholder="" class="form-control" />
                <div class="invalid-feedback">Phone No. required!</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Email</label>
                <input required type="email" name="listing[contactEmail]" placeholder="abc@gmail.com"  class="form-control"/>
                <div class="invalid-feedback">Contact email must be valid!</div>
            </div>  
        </div>   
          
        <button class="btn btn-dark add-btn mt-3">
            Add Listing
        </button>
        
    </form>

</div>
</div>

<script src="/js/script.js"></script>