
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}
/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{ 
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}

/* footer  */
.f-info-links a{
    text-decoration: none;
    color:#222222;
}
.f-info-links a:hover{
    text-decoration: underline
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards  */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}
.card-body{
    padding: 0;
}
.card-text p{
    font-weight: 400 !important;

}
.listing-link{
    text-decoration: none;
}


/* New listing Page  */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* New listing Page  */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Show listing Page  */
.show-img{
    height: 30vh;

}
.show-img{
    height: 40vh;
    object-fit: cover;
    border-radius: 1rem;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* map  */
#map {
    height: 400px;
    width: 80vh;
}


/* search btn  */
.search-btn {
    background-color: #fc424d !important;  
    color: #fff !important;
    border-radius: 25px !important;
    padding: 0 1rem 0 1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.search-btn:hover{
    background-color: #fc424d !important;
    color: #fff !important;
}
.search-btn i{
    display: inline !important;
    margin-right: 0.5rem !important;
}
.search-btn p{
    display: inline !important;
    margin: 0 !important;
}

.search-input{
    border-radius: 25px !important;
    padding:0.5rem 3rem 0.5rem 3rem !important; 
}

/* filters and tax btn  */
#filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 0;
    column-gap: 2rem;
    
}
@media screen and (max-width: 768px){
    #filters{
        justify-content: center;
    }
    .tax-toggle{
        margin-left: 0;
    }
}
.filter{
    text-align: center;
    cursor: pointer;
    opacity: 0.7;
}
.filter:hover{
    opacity: 1;
}
.filter p{
    font-size: 0.8rem;
}
.tax-info{
    display: none;
}
.tax-toggle{
    border:1px solid black !important;
    color: black !important;
    border-radius: 1rem;
    min-height: 3.25rem;
    padding: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}   


